language: java
jdk:
- oraclejdk8
sudo: false
install: true
script:
- "./gradlew build"




after_success:
  - pwd
  - mkdir codedeploy
  - zip -r csye6225-spring-boot-starter-webapp-master.zip build/libs/ROOT.war appspec.yml ./restartTomcat.sh
  - ls -al
  - mv csye6225-spring-boot-starter-webapp-master.zip codedeploy/
  - ls -al
  - pwd
  - cd codedeploy
  - ls -al
  - pwd

before_deploy:
  - cd ..
  - pwd
  
  

deploy:
  - provider: s3
    access_key_id: AKIAIUZLVF7ZPZTBUC5Q
    secret_access_key: 
      secure:  "Rjme1wSx9zYDU4N6ku+K3bHMwgJEksdeIBWkvgncdFFq8jPhdIY1dnyZBI20RSu62STM/lNSV4rgH8ExigNQo4xlf4MOO+I4Sxty9hvX2VcrpSfyvgf0J841rASQx9J8uduNb1iUDNQBHL5pSC9X10whsQbvgoBNbfZKjLcAyFLauOmiOCMWAeXYua92ckQ6NIG15SWjKJG7N8xon6S4G5VVr7NKDBo1lZndXz5JLAO4kSw0TUV/pjNdm5KX1HvCzhsgnUs+z9RNA41CY4nHksAuzibxIifpUFu8LPbANroksUaRqAzai+HbxrRHcrETt5DOb2x77I1/Tw3M1mNwvMLumRDmBFrC77/RdhsafRIXaUjFVYcDAvp1SpcRtS8GWzpyFrKO5HbiIAAVPJZlwKPTl0jOksYEeygn6dJZiuHivHqPiuien3Ox2PPOOKODRNWG6i7dyRsCkWiNCxYHQTZk8OsibtzWMwMDbt3D26/FxkFOsfu0BzULf1uNQ/IQvGsrUVBZca2SikUNwOyb0O750N+313+ZJ2Hr7GOhVK6NJ90/Rxda1e6ATEVHhnV4mKPNba7LbrO5OkTnw/+OuOBlEN+VGFB+sfgyfklGs3Nu2JFX2aMIhPqNW2mpiYpBptrwywreZmzySxHaPso5gafZduqrHFdAPg3zkZrb91k="
    local_dir: codedeploy
    bucket: csye6225-fall2017-muralia.me.csye6225.com
    region: us-east-1
    skip_cleanup: true
    

  - provider: codedeploy
    access_key_id: AKIAIUZLVF7ZPZTBUC5Q
    bucket: csye6225-fall2017-muralia.me.csye6225.com
    key: csye6225-spring-boot-starter-webapp-master.zip
    bundle_type: zip
    application: myProject
    deployment_group: SimpleJavaProject
    region: us-east-1
    secret_access_key:
      secure:  "Rjme1wSx9zYDU4N6ku+K3bHMwgJEksdeIBWkvgncdFFq8jPhdIY1dnyZBI20RSu62STM/lNSV4rgH8ExigNQo4xlf4MOO+I4Sxty9hvX2VcrpSfyvgf0J841rASQx9J8uduNb1iUDNQBHL5pSC9X10whsQbvgoBNbfZKjLcAyFLauOmiOCMWAeXYua92ckQ6NIG15SWjKJG7N8xon6S4G5VVr7NKDBo1lZndXz5JLAO4kSw0TUV/pjNdm5KX1HvCzhsgnUs+z9RNA41CY4nHksAuzibxIifpUFu8LPbANroksUaRqAzai+HbxrRHcrETt5DOb2x77I1/Tw3M1mNwvMLumRDmBFrC77/RdhsafRIXaUjFVYcDAvp1SpcRtS8GWzpyFrKO5HbiIAAVPJZlwKPTl0jOksYEeygn6dJZiuHivHqPiuien3Ox2PPOOKODRNWG6i7dyRsCkWiNCxYHQTZk8OsibtzWMwMDbt3D26/FxkFOsfu0BzULf1uNQ/IQvGsrUVBZca2SikUNwOyb0O750N+313+ZJ2Hr7GOhVK6NJ90/Rxda1e6ATEVHhnV4mKPNba7LbrO5OkTnw/+OuOBlEN+VGFB+sfgyfklGs3Nu2JFX2aMIhPqNW2mpiYpBptrwywreZmzySxHaPso5gafZduqrHFdAPg3zkZrb91k="
    wait-until-deployed: true
    


notifications:
  email:
    recipients:
    - patil.sur@husky.neu.edu
    - murali.a@husky.neu.edu
    - sharma.j@husky.neu.edu
    on_success: always

